* {
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  background-color: #E8E8E8;
}
body {
font-family: sans-serif;
font-size: 16px;
margin: 0;
}
img {
  max-width: 100%;
}
.main-nav {
background-color: black;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
height: 13%;
}


.container {
  margin: 0 auto;
  width: 1170px;
}
/* main navigation */
.logo-ctn {
  width: 150px;
  padding: 5px 0px;
}
.main-nav nav {
justify-content: space-between;
align-items: center;
}
.main-nav .nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav nav, .main-nav .nav-links ul {
  display: flex;
}
.main-nav .nav-links li {
padding: 20px 50px;
}
.main-nav .nav-links a {
  text-decoration: none;
  color: #E8E8E8;
  font-size: 20px;
}
#cart i {
font-size: 25px;
color: #E8E8E8;

}
/* header -bg*/
header {
margin: 0;
padding: 0;
display: block;



}
section {
max-width: 100%;
max-height: 100%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content:center;
flex-direction:row;
align-items: center;
margin-right: 145px;
background-color: #E8E8E8;


}

.img-bg {
padding: 0;
margin: 0;
width: 100%;
height: 510px;
position: relative;
background-position: left;
flex: 2;
background-color: #E8E8E8;


}
.container2 {
z-index: 1;
top: 200px;
right: 138px;
padding: 0px;
margin: 0px;
position: absolute;
font-family: 'Roboto', sans-serif;
border-radius: 8px 8px 8px 8px;
background-color: #E8E8E8;

text-align: left;
}
.callToAction1 {
  color: #161819;
  font-size: 50px;
  display: flex;
  display: inline-block;
  justify-content: center;
  flex: 1;
}
.calltoaction2 {
font-size: 15px;
background-color: #161819;
border-radius: 18px;
text-decoration: none;
display: flex;
color: white;
position: absolute;
top: 228px;
right: 30px;
padding: 15px 30px;
align-items: center;
justify-content: center;




}
.calltoaction2:hover {
color: white;
background: #383D38;
}
.color {
  background-size: contain;
  background-color: rgba(232, 232, 232, 0.7);
}
.recherche {
height: 120px;
max-width: 100%;
margin: 0;
}
#recherche2 {
  border-radius: 21px;
  padding: 7px 60px;
border-color: black;
align-items: center;

}
.imgSearch {
width: auto;
height: 20px;
background-size: contain;
position: absolute;
right: 500px;
top: 635px;

}
.economie {
margin: 0;
max-width: 100%;
height: 260px;
background: linear-gradient(#161819, #237097);
}
h2 {
background-size: contain;
color: white;
position: absolute;
top: 680px;
font-size: 60px;
}
#textEconomie {
  color: white;
  font-size: 18px;
}
.EconomieBouton {
  font-size: 18px;
  background-color: #E8E8E8;
  border-radius: 26px;
  text-decoration: none;
  display: flex;
  color: black;
  position: absolute;
  top: 880px;
  right: 465px;
  padding: 15px 90px;
  align-items: center;
  justify-content: center;

}
.EconomieBouton:hover {
    background-color: black;
    color: #E8E8E8;
}

.product-image img {
  height: 40%;
  max-width: 100%;
}

.product-row {
  flex-direction: row;
  width: 70%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.single-product {
  max-width: 100%;
  flex: 1;
  margin-right: 40px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.single-product:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.single-product:last-of-type {
  margin-right: 0px;
}

.product-actions, .product-row {
  display: flex;
}

.product-actions {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.product-actions p {
  font-size: 22px;
  margin: 2px;
  margin-left: 15px;
  color: red;
}

.product-image {
  position: relative;
}

.product-image .overlay {
  opacity: 0;
  display: flex;
  background-color: rgba(252, 255, 247 .7);
  height: 99%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.overlay a {
  position: absolute;
  bottom: 20px;
}

.overlay a:hover {
  color: #3c9d9b;
}

#fav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.product-image:hover .overlay {
  opacity: 1;
  transition: ease .5s;
}
.cta {
  font-size: 20px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 4px;
  margin-right: 10px;
  color: #EFEFEF;
}

.cta:hover {
  background-color: white;
  color: black;
}
.description {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: #2E2E2E;
  margin: 50px 0;
  padding: 50px 0;
  width: 100%;
  justify-content: center;
  margin-left: 125px;
}
.DÉPANNAGE {
font-family: 'Roboto', sans-serif;
font-size: 2rem;
color: #2E2E2E;
text-align: center;
}
.img4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
footer {
  display: flex;
  background-color: #3c9d9b;
}

footer .footer-column {
  flex: 1;
  padding: 20px;
  margin: 0 60px;
}

h4 {
  text-align: center;
}

p.about {
  font-size: 1rem;
  text-align: justify;
  padding: 0 60px;
}

.footer-column ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.footer-column ul a:hover {
  color: #EFEFEF;
}

.links li {
  margin-bottom: 14px;
}

#form_size {
  text-align: center;
}

.contact-form {
  width: 100%;
}

.contact-form input[type=text],
.contact-form input[type=email] {
  width: 70%;
  padding-top: 3px;
  padding-left: 7px;
  margin-bottom: 10px;
}

.footer-column textarea {
  width: 70%;
  resize: none;
  height: 100px;
  padding-top: 8px;
  margin-bottom: 10px;
}

.contact-form input[type=submit] {
  padding: 10px 0px;
  color: black;
  radius: 8px;
  text-align: center;
  width: 70%;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.contact-form input[type=submit]:hover {
  cursor: pointer;
  background: #CFCFCF;
  radius: 8px;
}

.copyright {
  justify-content: center;
  background-color: black;
  color:white;
}
